<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrajeria Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="div-bienvenida">
        <div class="div-text-bienvenida">
            <div class="div-logo">
                <img src="/images/logo.jpeg" alt="" srcset="" style="    height: 15vh;margin-left: 20px;">
            </div>
            <div class="div-info">
                <div class="div-info-bienveida">
                    <h2>Bienvenido a Cerrajería Express</h2>
                </div>
                <div class="div-info-text">
                    <span>Tu socio de confianza en servicios de cerrajería, disponibles las 24 horas del día, los 7 días de la semana. Nos especializamos en ofrecer soluciones de seguridad rápidas y efectivas, garantizando que nunca te encuentres en apuros con cerraduras o llaves. Tu tranquilidad es nuestra máxima prioridad.</span>
                </div>
            </div>
        </div>
        <div class="img-bienvenida"></div>
    </div>
    <div class="div-servicios">
        <div class="img-servicio"></div>
        <div class="div-info-servicio">
            <div class="div-titulo">
                <h2>Servicios Destacados</h2>
            </div>
            <div class="div-text-servicio">
                <span>1. Apertura de Puertas: Servicio rápido y eficiente para desbloquear puertas de casas o vehículos, disponible en cualquier momento.</span>
                <span>2. Cambio de Cerraduras: Cambio urgente de cerraduras para mejorar la seguridad, con atención las 24 horas.</span>
                <span>3. Asistencia de Emergencia: Respuesta rápida ante situaciones como pérdida de llaves o bloqueos accidentales, ofreciendo soluciones efectivas.</span>
            </div>
        </div>
    </div>
    <div class="div-porque">
        <div class="div-info-porque">
            <div class="div-titulo">
                <h2>¿Por qué Elegirnos?</h2>
            </div>
            <div class="div-text-porque">
                <span>° Disponibilidad 24/7: Ofrecemos servicios de cerrajería en cualquier momento, incluso en días festivos.</span>
                <span>° Respuesta Rápida: Nuestro equipo está preparado para actuar rápidamente ante emergencias.</span>
            </div>
           
        </div>
        <div class="img-porque"></div>
    </div>
    <div class="div-funciones">
        <div class="img-funciones"></div>
        <div class="div-info-funciones">
            <div class="div-titulo">
                <h2>Cómo Funcionamos</h2>
            </div>
            <div class="div-text-funciones">
                <span>1. Llamada de Emergencia: Contactas con nosotros ante una situación de cerrajería.</span>
                <span>2. Evaluación Remota: Realizamos una evaluación inicial y proporcionamos orientación telefónica si es posible.</span>
                <span>3. Desplazamiento Rápido: Enviamos cerrajeros expertos al lugar para resolver el problema.
                </span>
            </div>
        </div>
    </div>
    <div class="div-footer">
        <div class="div-form-contactos">
            <form action="/form-contacto" method="post" class="form-contactos" id="contacto-form">
                <div class="div-name-email">
                    <div class="div-input">
                        <input type="email" name="email" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="div-input">
                        <input type="text" name="name" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="div-textarea">
                    <textarea placeholder="Escribe tu comentario..." name="mensaje" required></textarea>
                </div>
                <div class="div-btn">
                    <input type="submit" value="Enviar" id="submit-btn">
                </div>
                <span id="aviso"></span>
            </form>
        </div>
        <h3>¡Tu seguridad es nuestra prioridad!</h3>
        <h3>Contáctanos para asistencia inmediata.</h3>
        <span>© 2023 Cerrajeria Espress C.A. Todos los derechos reservados.</span>
    </div>

    <script>


document.getElementById('submit-btn').addEventListener('click', async () => {
    const form = document.getElementById('contacto-form');
    
    const formData = new FormData(form);
   
    formData.forEach((value, key) => {
      console.log(`${key}: ${value}`);
    });

    const response = await fetch("/form-contacto", {
      method: 'POST',
      body: formData,
    });
  
    console.log(response.status)

    if (response.ok) {
    console.log('Formulario enviado con éxito');
    document.getElementById('aviso').textContent = 'Formulario enviado con éxito';
    } else {
      console.error('Error al enviar el formulario');
    }
  });
    </script>
</body>
</html>